Question 1

In [30]:
#Reference_output = A_B =[1,2,3,4,5,6,13,21,34]
A_B =[1,2,3,4,5,6,13,21,34]

In [34]:
#Checking solution for creating Reference output above is shown above


#datatype of A and B are lists

A = [1,2,3,4,5,6] 
B = [13,12,34]

In [27]:
type(A)

list

In [28]:
type (B)

list

In [32]:
# we conclude from above that both are list, checking the methods append and extend to see if it is the same as the reference output A_ B
#A.extend(B) returns a datatype of None but let's proceed to extend A
A.extend(B)
A

[1, 2, 3, 4, 5, 6, 13, 12, 34]

In [33]:
#checking if it gives A_B
A == A_B

False

In [35]:
#A.append() it appends an object to the end of the list
A.append(B)
A

[1, 2, 3, 4, 5, 6, [13, 12, 34]]

In [36]:
#checking if it gives A_B
A == A_B

False

In [ ]:
#The solution to question 1 is None of the Above. A, that's the reason

Question 2

In [37]:
#Create an identity matrix. An identity matrix is the matrix that returns ones on the diagonal and zeros elsewhere
#First we import numpy library
import numpy as np
identity_matrix = np.eye(3)
identity_matrix

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [38]:
m =np.identity(2)
m

array([[1., 0.],
       [0., 1.]])

In [ ]:
#The solution is using either eye method or identity in numpy library

Question 3

#working on a a dataset on fuel type, this means the data has to be read either from a path or from a webpage but i  will reading it from a path in my #laptop, further we import the libraries needed for data manipulation

In [39]:
import numpy as np #meaning numerical python
import math as mh
import pandas as pd 
import scipy as sc

In [154]:
#reading the csv file , we use pandas but we need to import numpy because pandas is built on numpy
import numpy as np
import pandas as pd
pd.read_csv('sample_file.csv') #read a comma-separated format
df = pd.read_csv('sample_file.csv')
df #df means dataframe

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570
...,...,...,...,...,...,...,...,...,...,...,...
29518,f1_fuel_2018_12_12_0_13,12,2018,neil simpson ct #1,gas,mcf,18799.0,1.059,4.78,4.78,9.030
29519,f1_fuel_2018_12_12_1_1,12,2018,cheyenne prairie 58%,gas,mcf,806730.0,1.050,3.65,3.65,6.950
29520,f1_fuel_2018_12_12_1_10,12,2018,lange ct facility,gas,mcf,104554.0,1.060,4.77,4.77,8.990
29521,f1_fuel_2018_12_12_1_13,12,2018,wygen 3 bhp 52%,coal,ton,315945.0,16.108,3.06,14.76,1.110
29522,f1_fuel_2018_12_12_1_14,12,2018,wygen 3 bhp 52%,gas,mcf,17853.0,1.059,0.00,0.00,11.680

In [41]:
df.columns #listing the columns

Index(['record_id', 'utility_id_ferc1', 'report_year', 'plant_name_ferc1',
       'fuel_type_code_pudl', 'fuel_unit', 'fuel_qty_burned',
       'fuel_mmbtu_per_unit', 'fuel_cost_per_unit_burned',
       'fuel_cost_per_unit_delivered', 'fuel_cost_per_mmbtu'],
      dtype='object')

In [42]:
df['fuel_type_code_pudl'] #narrowing into the fuel type codes

0        coal
1        coal
2        coal
3        coal
4         gas
         ...
29518     gas
29519     gas
29520     gas
29521    coal
29522     gas
Name: fuel_type_code_pudl, Length: 29523, dtype: object

In [46]:
fuel_code = df['fuel_type_code_pudl'] # assigning the dataframe colum of fuel type code to fuel_code

In [57]:
fuel_cost_burn = df['fuel_cost_per_unit_burned'] #assigning the dataframe colum of fuel cost per unit burned to fuel_cost_burn

In [47]:
fuel_code.unique() #types of fuel

array(['coal', 'gas', 'nuclear', 'oil', 'waste', 'other'], dtype=object)

In [54]:
fuel_code.value_counts()

gas        11486
coal        8547
oil         8064
nuclear      818
waste        441
other        167
Name: fuel_type_code_pudl, dtype: int64

In [78]:
chk_average = df.groupby(fuel_code).mean()
chk_average

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
fuel_type_code_pudl,,,,,,,
coal,115.637534,2004.623143,1.903473e+06,20.762780,67.421830,116.951141,1.787190
gas,124.122062,2005.978060,4.843183e+06,1.021913,13.659397,12.095172,5.408876
nuclear,107.397311,2002.970660,5.454838e+06,17.582120,4955.157002,28616.915039,1.716559
oil,113.236235,2007.195933,6.311677e+04,5.814377,168.877086,313.907691,12.698732
other,110.467066,2001.700599,2.948137e+06,0.572752,18.253856,16.871485,155.084910
waste,154.253968,2005.650794,1.171914e+05,0.341163,19.518122,18.413052,822.709937

In [ ]:
#from the above, it's  gas = 13.659397

Question 4

what is the standard deviation and 75th percentile of the measure of energy per unit["fuel_mmbtu_per_unit "] in two decimal places

In [79]:
#solution using describe
df.describe()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523.000000,29523.000000,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
mean,118.601836,2005.806050,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,74.178353,7.025483,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,1.000000,1994.000000,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,55.000000,2000.000000,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,122.000000,2006.000000,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,176.000000,2012.000000,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,514.000000,2018.000000,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

In [80]:
#From the table, we can see it before rounding off.
round(df.describe())

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523.0,29523.0,29523.0,29523.0,29523.0,29523.0,29523.0
mean,119.0,2006.0,2622119.0,8.0,209.0,918.0,19.0
std,74.0,7.0,9118004.0,11.0,2854.0,68776.0,2092.0
min,1.0,1994.0,1.0,0.0,-276.0,-875.0,-42.0
25%,55.0,2000.0,13817.0,1.0,5.0,4.0,2.0
50%,122.0,2006.0,253322.0,6.0,26.0,17.0,4.0
75%,176.0,2012.0,1424034.0,17.0,47.0,42.0,8.0
max,514.0,2018.0,555894250.0,341.0,139358.0,7964521.0,359278.0

In [81]:
#solution
#The std deviation for fuel_mmbtu_per_unit  is 11.0  while 75% is 17.0

5a what is the skewness and kurtosis for the fuel quantity burned in two decimal

In [84]:
round(df.skew(),2)

utility_id_ferc1                  0.61
report_year                       0.01
fuel_qty_burned                  15.85
fuel_mmbtu_per_unit               4.14
fuel_cost_per_unit_burned        19.79
fuel_cost_per_unit_delivered    105.01
fuel_cost_per_mmbtu             171.68
dtype: float64

In [85]:
round(df.kurtosis(),2)

utility_id_ferc1                    1.09
report_year                        -1.15
fuel_qty_burned                   651.37
fuel_mmbtu_per_unit                55.60
fuel_cost_per_unit_burned         485.26
fuel_cost_per_unit_delivered    11765.05
fuel_cost_per_mmbtu             29489.13
dtype: float64

In [ ]:
#The answer for skewness is 15.85 and kurtosis for fuel quantity burned 651.37

#question 6. which feature  has missing value and what is the sum total, then percentage?

In [97]:
df.isna().sum() # summing and checking for missing values and we see it's fuel_unit of total of 180 missing values in it's column

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [100]:
total_missing_feat = max(df.isna().sum())

In [102]:
#the length of rows in df
df_len = len(df)

In [105]:
percentage = ((total_missing_feat/df_len) * (100))
percentage

0.609694136774718

In [109]:
#solution is 0.61 but in maths it's 0.610, the zero is compulsory but 1 significance, then it's 1
#feature : Fuel unit, Total :180, Percent : 0.610
round(percentage,3)

0.61

Question 7

The feature with missing values falls under what category : 
 What value imputation techniques would you use:

#solution : i will use a numerical and mean imputation

Question 8
which of the features have the lowest corellation?

#remeber from statistics, should u have examples os correlation values [-0.1,1,-0.2], thelowest correlation here is 1. now checking with the df dataframe

In [113]:
df.corr()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
utility_id_ferc1,1.000000,0.093323,-0.057447,-0.066946,-0.037863,-0.016414,0.006122
report_year,0.093323,1.000000,0.012952,-0.110853,0.013599,-0.014043,0.010261
fuel_qty_burned,-0.057447,0.012952,1.000000,-0.080946,-0.018535,-0.003551,-0.001896
fuel_mmbtu_per_unit,-0.066946,-0.110853,-0.080946,1.000000,-0.010034,-0.009039,-0.005884
fuel_cost_per_unit_burned,-0.037863,0.013599,-0.018535,-0.010034,1.000000,0.011007,-0.000437
fuel_cost_per_unit_delivered,-0.016414,-0.014043,-0.003551,-0.009039,0.011007,1.000000,-0.000109
fuel_cost_per_mmbtu,0.006122,0.010261,-0.001896,-0.005884,-0.000437,-0.000109,1.000000

In [121]:
#looking above, the  smallest second and third correlation is -0.0185 and - 0.0100
#using df.corr()["fuel_cost_per_unit_burned"].sort_values(ascending=True)
Solution = -0.0185 and - 0.0100
#Fuel_qty_burned and fuel_mmbtu_per_unit

Question 9,for the fuel type coal, what is the percentage change in the fuel cost per unit burned in 1998 compared to 1994.

In [231]:
df.head(6)

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570
5,f1_fuel_1994_12_2_0_13,2,1994,e. c. gaston-unit 5,coal,ton,2124933.0,23.922,44.24,43.25,1.850

In [232]:
add_1998 = sum((df.loc[(df['report_year']==1998) & (df['fuel_type_code_pudl']=='coal')]['fuel_cost_per_unit_burned'])) #This is the sum of fu
add_1998

11902.597000000012

In [233]:
add_1994 = sum((df.loc[(df['report_year']==1994) & (df['fuel_type_code_pudl']=='coal')]['fuel_cost_per_unit_burned']))
add_1994

14984.572000000011

In [234]:
percentage_change = ((add_1998- add_1994) /(add_1994)) * (100)
percentage_change
round(percentage_change)
#Answer is -21

-21

Question 10

In [229]:
avg= df.groupby("report_year")["fuel_cost_per_unit_delivered"].mean()
print(avg)

report_year
1994       63.636060
1995       32.735269
1996     9196.705948
1997    11140.197239
1998      287.154420
1999       25.551627
2000      985.362877
2001       60.050396
2002       47.594361
2003       55.663493
2004      139.524275
2005       41.438184
2006       38.657484
2007       43.325023
2008       58.588197
2009      652.694163
2010       91.862105
2011       59.774667
2012       60.994502
2013      172.307591
2014      192.737183
2015      326.535511
2016      103.901761
2017       46.196861
2018      499.269966
Name: fuel_cost_per_unit_delivered, dtype: float64

In [230]:
high_avg = max(avg)
hig_avg

In [220]:
df.groupby("report_year")["fuel_cost_per_unit_delivered"].mean().max()

11140.19723948813

In [ ]:
#The year that correlates with the maximum value is 1997

#End of Assignment